* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f1ebeb;
  color: #333;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.section {
  padding: 50px 0;
  border-bottom: 1px solid #ddd;
}

.text-content {
  max-width: 50%;
}

.text-content h2 {
  font-size: 2.5rem;
  color: #333;
  margin-bottom: 20px;
}

.text-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #555;
}

.image-content {
  max-width: 45%;
}

.image-content img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .container {
      flex-direction: column;
      text-align: center;
  }

  .text-content, .image-content {
      max-width: 100%;
  }
#x{
  font-size: 30%;
}
#y{
  font-size: 30%;
}
   
   
}