*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html,body{
  height: 100%;
  width: 100%;
}
.mainproduct{
  display: flex;
  gap: 250px;
  background-color: aqua;
}
#product{

  width: 50vw;
  color: bisque;
  font-size: larger;
  padding: auto;   
}
#solution{
  width: 100vw;
  padding: auto;
  font-size: larger;  
}
.v1{
  object-position: bottom;
  width: 100%;
}
 
 
#p{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: rgb(20, 19, 18);
}
#s{
  display: flex;
  justify-content: flex-start;
  color: rgb(20, 19, 18);
}

